# server/.gitignore

# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Uploads folder (agar aap local uploads save kar rahe hain)
/uploads

# IDE config
.vscode/